.megaMenu {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  li a,
  li span {
    display: inline-block;
    font-size: 14px;
    line-height: 56px;
    position: relative;
    transition: 0.5s;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      top: 97%;
      left: 0;
      transition: transform 0.5s;
      transform: scaleX(0);
      transform-origin: right;
      z-index: 1;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
.active {
  a {
    &::after {
      background-color: hsl(var(--primary)) !important;
      transform: scaleX(1) !important;
    }
    i {
      transform: rotate(180deg);
    }
  }
}
